@import "../../SharedScss/main";

.Header {
  background-color: $clr-002;
  color: $clr-white;
  .logo {
    font-family: $font-pacifico;
    font-size: 24px;
    text-transform: capitalize;
  }
}
