$font-pacifico: "Pacifico", cursive;
$font-roboto: "Roboto Slab", serif;

$font-family: $font-roboto;

$max-width: 1200px;
$web-side-space: 16px;

$fontWeightThin: "thin";
$fontWeightHairline: "hairline";
$fontWeightExtraLight: "extraLight";
$fontWeightUltraLight: "ultraLight";
$fontWeightLight: "light";
$fontWeightNormal: "normal";
$fontWeightRegular: "regular";
$fontWeightMedium: "medium";
$fontWeightSemiBold: "semiBold";
$fontWeightDemiBold: "demiBold";
$fontWeightBold: "bold";
$fontWeightExtraBold: "extraBold";
$fontWeightUltraBold: "ultraBold";
$fontWeightBlack: "black";
$fontWeightHeavy: "heavy";
$fontWeightExtraBlack: "extraBlack";
$fontWeightUltraBlack: "ultraBlack";

$clr-primary: var(--primary-color);
$clr-secondary: var(--secondary-color);

$clr-white: white; //#FFFFFF
$clr-WhiteSmoke: WhiteSmoke; //#F5F5F5
$clr-gray: gray; //#808080
$clr-black: black; //#000000

$clr-001: #25293a;
$clr-002: #1e1e1e;
